<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="SimpleEntities\\Tests">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="test/coverage/report" lowUpperBound="35"
             highLowerBound="70"/>
        <log type="coverage-clover" target="/tmp/coverage.xml"/>
        <log type="coverage-php" target="test/coverage/coverage.serialized"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="junit" target="test/coverage/logfile.xml" logIncompleteSkipped="false"/>
        <log type="testdox-html" target="test/coverage/testdox.html"/>
        <log type="testdox-text" target="test/coverage/testdox.txt"/>
    </logging>
</phpunit>
